body{
    font-family: calibri;
    height: 400vh;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background-color: lightgrey;

}

::-webkit-scrollbar-thumb{
    background-color: #0e6eff;
}

h1{
    font-size: 50px;
    text-align: center;
}

p{
    font-size: 30px;

}

h1 span{
    color: red;
}